@import "tailwindcss";

:root {
  /* Cores principais */
  --primary: #8a2ce2;
  --dark-primary: #4b0082;

  --secondary: #008800;

  --background: #f5f5f5;
  --foreground: #1b0d33;
  --card: #fff;

  --error: #dc143c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f071c;
    --foreground: #d3d3d3;
    --card: #252131;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
    font-family: 'Inter', system-ui, sans-serif;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-600 rounded-full;
  }
}